/*
 *
 * top page style
 * language: stylus
 *
 */
@import "./common/_mixin"



#TOP

	.product-fv
		background-color: #000




/*
 *	width: ~768px
 */

@media (max-width: 768px)
	// 





/*
 *	width: ~600px
 */

@media (max-width: 600px)
	// 