/*
 *
 * elements style
 * language: stylus
 *
 */
@import "./_mixin"



/********************
* headline
********************/




/********************
* list
********************/

.list-autocomplete
	overflow: hidden
	position: absolute
	top: calc( 100% + 10px )
	width: 100%
	border-radius: 10px
	box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2)
	background-color: #fff
	.item
		padding: 10px
		cursor: pointer
		&.-active
			background-color: #FAF6E1
		img
			width: 40px
			margin-right: 10px
			vertical-align: middle
	
.list-link-typeA
	display: flex
	flex-wrap: wrap
	gap: 20px 30px
	.item
		a
			display: block
			padding-left: 20px
			background: url(/assets/img/icon-arrow-typeA.svg) no-repeat 0 4px / 14px auto
	



/********************
* table
********************/





/********************
* box
********************/

.col2-box
	display: flex
	justify-content: space-between

.col3-box
	display: flex
	justify-content: space-between


/********************
* btn
********************/






/********************
* txt
********************/

.link-typeA
	margin-top: 0.8em
	&::after
		display: inline-block
		content: ''
		width: 12px
		height: 10px
		margin-left: 5px
		background: url("../img/icon-blank.svg") no-repeat 0 0 / 12px auto


/********************
* form
********************/

input
	border: none
	border-radius: 100px
	transition: box-shadow ease-in-out 0.2s
	&:focus
		outline: none
		box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2)



/*
 *	width: ~768px
 */

@media (max-width: 768px)

	/********************
	* headline
	********************/





	/********************
	* list
	********************/





	/********************
	* table
	********************/





/*
 *	width: ~600px
 */

@media (max-width: 600px)

	/********************
	* headline
	********************/





	/********************
	* list
	********************/





	/********************
	* table
	********************/





	/********************
	* btn
	********************/




