/*
 *
 * elements style
 * language: stylus
 *
 */
@import "./_mixin"



/********************
* headline
********************/





/********************
* list
********************/

.list-styleA
	padding-left: 1.5em
	list-style-type: disc
	.item + .item
		margin-top: 0.5em

.list-notes-typeA
	line-height: 1.75
	.item
		padding-left: 2.7em
		text-indent: -2.7em
	.item + .item
		margin-top: 0.5em



/********************
* table
********************/





/********************
* box
********************/

.col2-box
	display: flex
	justify-content: space-between

.col3-box
	display: flex
	justify-content: space-between


/********************
* btn
********************/






/********************
* txt
********************/

.link-typeA
	margin-top: 0.8em
	&::after
		display: inline-block
		content: ''
		width: 12px
		height: 10px
		margin-left: 5px
		background: url("../img/icon-blank.svg") no-repeat 0 0 / 12px auto





/*
 *	width: ~768px
 */

@media (max-width: 768px)

	/********************
	* headline
	********************/





	/********************
	* list
	********************/





	/********************
	* table
	********************/





/*
 *	width: ~600px
 */

@media (max-width: 600px)

	/********************
	* headline
	********************/





	/********************
	* list
	********************/





	/********************
	* table
	********************/





	/********************
	* btn
	********************/




